<!-- Header -->
<header>   
    <!-- Header desktop -->
    <div class="container-menu-desktop">
      
        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="/" class="logo ml-auto">
                    <img src="/user_assets/images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

               
            </nav>
        </div>
    </div> 

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a class="logo ml-auto" href="/"><img src="/user_assets/images/icons/logo-01.png" alt="IMG-LOGO"></a>
        </div>
    </div>
  
</header>