<div class="d-md-flex half">
    <div class="bg" style="background-image: url('images/bg_1.jpg');"></div>
    <div class="contents">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto">
                        <div class="text-center mb-5">
                            <h4 class="text-uppercase">Forgot Password..!</h4>
                        </div>
                        <form id="send-otpForgot">
                            <div class="form-group last mb-3">
                                <label for="password">Enter Your Mobile Number</label>
                                <input type="tel" id="mobileId" class="form-control" placeholder="Enter mobile number"
                                    name="mobile"  onkeyup="validateMobNo()" >
                                    <span id="mobileNo-error" class="validation-label text-danger"></span>

                            </div>

                            <div class="d-sm-flex mb-5 align-items-center">
                                <span class="ml-auto"><a href="" class="forgot-pass">Login using Email and
                                        Password ?</a></span>
                            </div>
                            <button  value="SUBMIT" data-toggle="modal" data-target="#exampleModalCenter1" type="submit" class="btn btn-block py-2 btn-primary" style="background-color: #088168;" onclick="return validateForm()" > SEND OTP
                            </button>
                            <span id="submit-error" class="validation-label text-danger"></span>


                            <!-- <button data-toggle="modal" data-target="#exampleModalCenter1" type="submit"
                                class="btn btn-block py-2 " style="background-color: #088168;">
                                SUBMIT
                            </button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var mobileNoError = document.getElementById('mobileNo-error');
    var submitError = document.getElementById('submit-error');


    function validateMobNo() {
        let mobileNo = document.getElementById("mobileId").value
        if (mobileNo.length == 0) {
            mobileNoError.innerHTML = "Mobile Number is required";
            return false
        }
        if (!mobileNo.match(/^\d{10}$/)) {
            mobileNoError.innerHTML = "Enter a valid mobile number wihtout country code"
            return false
        }
        mobileNoError.innerHTML = ""
        return true
    }

    function validateForm() {
        if ( !validateMobNo()) {
            submitError.style.display = 'flex';
            submitError.style.justifyContent = 'center';
            submitError.innerHTML = '';
            setTimeout(() => {
                submitError.style.display = 'none';
            }, 3000);
            return false;
        }
    }
  
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form id="otp-verifyForgot">

                    <div class="modal-body">
                        <div class="form-outline mb-4">
                            <input type="tel" id="typeNumberX-2" class="form-control form-control-md"
                                placeholder="Enter OTP" name="otp" style="border-radius: 1rem;" />
                                <!-- <input type=""> -->
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn" style="background-color: #088168;" value="Login">
                        <!-- <input type="submit" class="btn" value="Cancel"> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                    </div>
                </form>

            </div>
            <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>
<!-- <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script> -->
    
    <!-- <script src="/userAssets/mainotp.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    
    
      const verifyButton = document.getElementById('verify');
      $('#send-otpForgot').submit((e) => {
        e.preventDefault();
        $.ajax({
          url: '/forgotPassword-otp',
          method: 'POST',
          data: $('#send-otpForgot').serialize(),
          success: (res) => {
            if (res) {
              verifyButton.style.visibility = 'visible'
            }
            else {
              location.reload();
            }
    
          }
        })
      })
    
      $('#otp-verifyForgot').submit((e) => {
        e.preventDefault();
        $.ajax({
          url: '/forgotPassword-otpVerify',
          method: 'post',
          data: $('#otp-verifyForgot').serialize(),
          success: (res) => {
            console.log(`response top verfiy:  ${res}`)
            if (res) {
              location.href = '/renderResetPass'
            }
            else {
              location.reload();
            }
          }
        })
      })
      const modal = document.querySelector('.modal');
      const closeButton = document.querySelector('.close-modal');
    
    </script>
    