<body>
  <div class="d-md-flex half">
    <div class="bg" style="background-image: url('https://res.cloudinary.com/dsjm0ey22/image/upload/v1685599517/jwt-authentication_d935q8.png');"></div>
    <div class="contents">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="form-block mx-auto">
              <div class="text-center mb-5">
                <h4 class="text-uppercase">Login with OTP to <strong>Kids Paradise</strong></h4>
              </div>



              <form id="send-otp">
                <div class="form-group last mb-3">
                  <label for="password">Enter Your Mobile Number</label>
                  <input type="tel" id="mobileId" class="form-control" placeholder="Enter Your 10digit Mobile Number"
                    name="phone" onkeyup="validateMobNo()">
                  <span id="mobileNo-error" class="validation-label text-danger"></span>

                </div>

                <% if (locals.loginErr) { %>
                  <p class="error text-danger font-weight">
                    <%= locals.loginErr %>
                  </p>
                  <% } %>

                    <div class="d-sm-flex mb-5 align-items-center">
                      <span class="ml-auto"><a href="/login" class="forgot-pass">Login using Email and
                          Password ?</a></span>
                    </div>

                    <button value="SUBMIT" data-toggle="modal" data-target="#exampleModal" type="submit"
                      class="btn btn-block py-2 btn-primary" style="background-color: #088168;"
                      onclick="return validateForm()"> SEND OTP
                    </button>
                    <span id="submit-error" class="validation-label text-danger"></span>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>
    var mobileNoError = document.getElementById('mobileNo-error');
    var submitError = document.getElementById('submit-error');


    function validateMobNo() {
      let mobileNo = document.getElementById("mobileId").value
      if (mobileNo.length == 0) {
        mobileNoError.innerHTML = "Mobile Number is required";
        return false
      }
      if (!mobileNo.match(/^\d{10}$/)) {
        mobileNoError.innerHTML = "Enter a valid mobile number wihtout country code"
        return false
      }
      mobileNoError.innerHTML = ""
      return true
    }

    function validateForm() {
      if (!validateMobNo()) {
        submitError.style.display = 'flex';
        submitError.style.justifyContent = 'center';
        submitError.innerHTML = '';
        setTimeout(() => {
          submitError.style.display = 'none';
        }, 3000);
        return false;
      }
    }

  </script>



  <!-- modal -->
  <div class="modal fade mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter OTP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <form id="otp-verify">

          <div class="modal-body">
            <div class="form-outline mb-4">
              <input type="tel" id="typeNumberX-2" class="form-control form-control-md" placeholder="Enter OTP"
                name="otp" style="border-radius: 1rem;" />
            </div>
            <!-- timer -->
            <div class="text-center mt-3 text-dark">
              <p id="timer">resend OTP in 1 minute</p>
            </div>
            <!-- till here  -->
            <div class="text-center mt-2" style="display: none;" id="verifyOtp">
              <span class="d-block mobile-text">Don't receive the code?</span>
              <input type="tel" id="mobile2" class="d-none">
              <span class="font-weight-bold cursor btn btn-danger" onclick="resendOTP()">Resend</span>
            </div>




          </div>
          <div class="modal-footer">
            <input type="submit" class="btn" style="background-color: #088168;" value="Login">
            <!-- <input type="submit" class="btn" value="Cancel"> -->
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- <script src="/userAssets/mainotp.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>


    const verifyButton = document.getElementById('verify');
    
    $('#send-otp').submit((e) => {
      e.preventDefault();
      $.ajax({
        url: '/send-otp',
        method: 'POST',
        data: $('#send-otp').serialize(),
        success: (res) => {
          if (res) {
           
            document.getElementById('mobile2').value = res.mobile;
          }
          else {
            location.reload()
          }

        }
      })
    })

    // testing
    function resendOTP() {
      const mobile = document.getElementById('mobile2').value
      $.ajax({
        url: '/send-otp',
        method: 'POST',
        data: {
          phone: mobile
        },
        success: (res) => {
          if (res) {
           
            verifyOtp.style.display = 'none';
          } else {
            location.reload();
          }
        }
      });
    } 

    $('#otp-verify').submit((e) => {
      e.preventDefault();
      $.ajax({
        url: '/otp-verify',
        method: 'post',
        data: $('#otp-verify').serialize(),
        success: (res) => {
          if (res) {
            location.href = '/'
          }
          else {
            location.reload();
          }
        }
      })
    })
    const modal = document.querySelector('.modal');
    const closeButton = document.querySelector('.close-modal');

  </script>


  <script>
    // Set the timer to expire the OTP after 1 minute
    const expirationTime = 30; // seconds
    let timer = expirationTime;
    const timerElement = document.getElementById("timer");
    const verifyOtp = document.getElementById("verifyOtp");
    const intervalId = setInterval(() => {
      const minutes = Math.floor(timer / 60);
      const seconds = timer % 60;
      timerElement.textContent = `resend OTP in ${minutes}:${seconds.toString().padStart(2, '0')} minutes`;
      timer--;
      if (timer < 0) {
        clearInterval(intervalId);
        verifyOtp.style.display = "block";
        timerElement.style.display = "none";
        const formInputs = document.querySelectorAll("form input");
        const submitButton = document.querySelector("form button[type=submit]");
      }
    }, 1000);
  </script>

</body>