
<body>
    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('images/bg_1.jpg');"></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h4 class="text-uppercase">RESET PASSWORD</h4>
                            </div>
                            <form action="/setNewPassword" method="post">
                                <div class="form-group last mb-3">
                                    <label for="password">Enter New Password</label>
                                    <input type="password" name="newPassword" id="passwordId" class="form-control" placeholder="Enter Password"
                                      onkeyup="validatePassword()" name="password" style=" height: 40px;">
                                    <span id="password-error" class="validation-label text-danger"></span>
                  
                                  </div>
                                  <div class="form-group last mb-3">
                                    <label for="password">Re-Enter Password</label>
                                    <input type="password" id="confirmPasswordId" class="form-control" placeholder="Re-enter Password"
                                      onkeyup="validateConfirmPW()" style=" height: 40px;">
                                      <span id="confirm-error" class="validation-label text-danger"></span>
                  
                  
                                  </div>

                                <div class="d-sm-flex mb-5 align-items-center">
                                    <span class="ml-auto"><a href="" class="forgot-pass">Login using Email and
                                            Password ?</a></span>
                                </div>

                                <button type="submit" value="SUBMIT" validateForm() class="btn btn-block py-2 " style="background-color: #088168;"> SUBMIT

                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script>

    var passwordError = document.getElementById('password-error');
    var confirmError = document.getElementById('confirm-error');
    var submitError = document.getElementById('submit-error');
    
function validatePassword() {
        var password = document.getElementById('passwordId').value;
        var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
        if (password.match(passChecker)) {
            passwordError.innerHTML = '';
            return true;
        } else {
            passwordError.innerHTML = 'required 6-20 character,1 numeric digit, 1 uppercase and 1 lowercase';
            return false;
        }
    }

    function validateConfirmPW() {
        const password = document.getElementById("passwordId").value;
        const password2 = document.getElementById("confirmPasswordId").value
        if (password != password2) {
            confirmError.innerHTML = "Password not match"
            return false
        } else {
            confirmError.innerHTML = " "
            return true
        }
    }

    function validateForm() {
        if ( !validatePassword() || !validateMobNo()) {
            submitError.style.display = 'flex';
            submitError.style.justifyContent = 'center';
            submitError.innerHTML = 'Please fix all errors to submit';
            setTimeout(() => {
                submitError.style.display = 'none';
            }, 3000);
            return false;
        }
    }

</script>