

<div class="d-md-flex half">
  <div class="bg" style="background-image: url('images/bg_1.jpg');"></div>
  <div class="contents">
<br>
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
          <div class="form-block mx-auto">
            <div class="text-center mb-5">
              <h3 class="text-uppercase">Login to <strong>Kids Paradise</strong></h3>
            </div>
            <form action="/login" method="post">
              <div class="form-group first">
                <label for="username">Email</label>
                <input name="email" type="text" class="form-control" placeholder="your-email@gmail.com" id="username">
              </div>
              <div class="form-group last mb-3">
                <label for="password">Password</label>
                <input name="password" value="Abc@123" type="password" class="form-control" placeholder="Your Password" id="password">
                <% if (loginErr) { %>
                  <p class="error text-danger"> Invalid Credentials</p>
                <% } %>
              </div>
              
              <div class="d-sm-flex mb-5 align-items-center">
                
                <span class="mr-auto"><a href="/signup" class="forgot-pass">Dont have an account ?</a></span> 

                <span class="ml-auto"><a href='/forgotPassword' class="forgot-pass">Forgot Password ?</a></span> 
              </div>

              <input type="submit" value="Log In" class="btn btn-block py-2 btn-primary">

              <span class="text-center my-3 d-block">or</span>
              
              
              <div class="">
              <a href="/otplogin" class="btn btn-block py-2 btn-facebook">
                <span class=" mr-3"></span> Login with OTP
              </a>
             
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  