<body>
  <section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">ADMIN LOGIN</h3>

              <form action="/admin/login" method="post">


                <div class="form-outline mb-4">
                  <input  name="email" type="email" value="admin@gmail.com" id="username" class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX-2">Email</label>
                <span id="email-error" class="validation-label text-danger"></span>

                </div>

                <div class="form-outline mb-4">
                  <input name="password" type="password" value="Admin@123" id="password" class="form-control form-control-lg" onkeyup="validatePassword()" />
                  <label class="form-label" for="typePasswordX-2">Password</label>
                <span id="password-error" class="validation-label text-danger"></span>

                </div>

                <!-- Checkbox -->
                <!-- <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                <label class="form-check-label" for="form1Example3"> Remember password </label>
                              </div> -->

                <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="return validateForm()">Login</button>
              <span id="submit-error" class="validation-label text-danger"></span>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>



<script>

  var emailError = document.getElementById('email-error');
  var passwordError = document.getElementById('password-error');
  var submitError = document.getElementById('submit-error');
  
  function validateEmail() {
          var email = document.getElementById('username').value;
          if (email.length == 0) {
              emailError.innerHTML = 'Email is required';
              return false;
          }
          if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
              emailError.innerHTML = 'Invalid email address..!';
              return false;
          }
          emailError.innerHTML = '';
          return true;
      }
      function validatePassword() {
          var password = document.getElementById('password').value;
          var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
          if (password.match(passChecker)) {
              passwordError.innerHTML = '';
              return true;
          } else {
              passwordError.innerHTML = 'Password..!';
              return false;
          }
      }
  
      function validateForm() {
          if (!validateEmail() || !validatePassword() ) {
              submitError.style.display = 'flex';
              submitError.style.justifyContent = 'center';
              submitError.innerHTML = '';
              setTimeout(() => {
                  submitError.style.display = 'none';
              }, 3000);
              return false;
          }
      }
  </script>