<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Delete Category Offer</h2>
            </div>
        </div>
        <div class="col-lg-11">
            <div class="card mb-4">
                <div class="card-body">
                    <form class="mx-1 mx-md-4 pt-5" action="/admin/deactivateCategoryOffer" method="post"
                        id="offer-form">


                        <div class="mb-4">
                            <label class="form-label">Category</label>
                            <select class="form-select" required name="category" id="categorySelect">
                                <option selected disabled>Select Category</option>
                                <% for (var i=0; i < category.length; i++) { %>
                                    <option value="<%= category[i].category %>">
                                        <%= category[i].category %>
                                    </option> 
                                    <% } %>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <input type="submit" value="DEACTIVATE OFFER" class="btn btn-warning btn-s" />
                        </div>


                    </form>

                    <script>
                        $(document).ready(function () {
                            $("#offer-form").validate({
                                rules: {

                                    category: {
                                        required: true,
                                    },
                                },

                                messages: {

                                    category: {
                                        required: "Please Select one category"
                                    },
                                },
                                errorClass: "text-danger",
                            });
                        });
                    </script>
                </div>
            </div>

            <a href="/admin/viewoffer" style="font-weight: 300;"> View Offer </a>
        </div>
    </div>
</section>