
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Dashboard </h2>
                <p>Whole data about your business here</p>
            </div>
            <div>
                <a href="/admin/salereport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create Sales report</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons mb-2"> <span>₹</span> </i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Revenue</h6>
                            <span> <%= (total)%> </span>
                            <span class="text-sm">
                                
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Orders</h6> <span> <%= (orderCount) %> </span>
                            <span class="text-sm">
                              
                            </span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title"> Products</h6> <span> <%= (productsCount)%> </span>
                            <span class="text-sm">
                                In  <%= (categoryCount)%> Categories
                            </span>
                        </div>
                    </article>
                </div>
            </div>
           
        </div>
      
        
      


        
<!-- for graph -->

        <div class="row">
            <div class="col-xl-8 col-lg-12 ">
                <div class="card mb-4 ">
                    <article class="card-body">
                        <h5 class="card-title">Sale statistics</h5>
                        <canvas id="myChart" height="120px"></canvas>
                    </article>
                </div>
            </div>
    
            <div class="col-xl-4 col-lg-12 ">
                <div class="card mb-4 ">
                    <article class="card-body">
                        <h5 class="card-title">Order statistics</h5>
                        <canvas id="myChartPi" height="100px"></canvas>
                    </article>
                </div>
    
            </div>
        </div>

    </section> 

</main>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
	integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>



<script>
	$.ajax({
		url: "/admin/graph-statics",
		method: "GET",
		dataType: "json",
		success: function (response) {

		

			const ctx = document.getElementById('myChart');

			let status2 = response.saleStatistics

			let salesStatus = []

			status2.forEach((item) => {

				salesStatus[item._id - 1] = item.totalAmount

			})

			const monthNumbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12];



			new Chart(ctx, {
				type: 'bar',
				data: {
					labels: monthNumbers.map(monthNumber => moment(monthNumber, 'M').format('MMM')),
					datasets: [{
						label: 'total',
						data: salesStatus,
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					}
				}
			});



			const ctx2 = document.getElementById('myChartPi');


			let status = response.OrderStatistics



			let statusCount = [];
			let orderStatus = []

			status.forEach((item) => {
				orderStatus.push(item._id)
				statusCount.push(item.count)
			})



			new Chart(ctx2, {
				type: 'doughnut',
				data: {
					labels: orderStatus,
					datasets: [{
						label: 'Orders',
						data: statusCount,
						// backgroundColor: [
						//     'rgb(255, 205, 86)',
						//     'rgb(54, 162, 235)',
						//     'rgb(173,255,47)',
						//     'rgb(255, 99, 132)',

						// ],
						hoverOffset: 4
					}]
				}
			})

		},
	})

</script>