


<section class="container">
    <div class="col-9">
      <div class="content-header">
        <h2 class="content-title mt-4">Offer</h2>
      </div>
    </div>
    <div class="row">
      <div class=" d-flex"><a href="/admin/addoffer" class="btn btn-success ms-auto">Add Offer</a></div>
    </div>
  
    <div class="mt-4">
        <table class="table table-hover" id="productsTable">
            <thead>
              <tr>
                <th>Offer Price</th>
                <th>Category</th>
                <th>Activate/Deactivate</th>
              </tr>
            </thead>
            <tbody>

                <% products.forEach((products)=> { %>
                    <% if(products.offer>0){%>

              <tr>
                
                <td ><%=products.offer%></td>
                <td><%=products.category%></td>
    
                <td class="">
                  <a href="#"  class="btn btn-sm btn-danger " style="text-decoration: none">Delete</a>
                </td>
              </tr>
              <% }%> 


              <% }) %> 
             
            </tbody>
          </table>
    </div>

  
  
    
</section>
<br>
<p style="font-weight:500; padding-left: 20px;">Add more Cupons?  <a href="/admin/addcoupon">click here</a>  </p>
  
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  <script>
      $(document).ready( function () {
        $('#productsTable').DataTable();
    } );
  </script>