<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <h3><a href="/admin" class="brand-wrap"> ADMIN PANEL
                <!-- <img src="assets/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard"> -->
            </a>

            </h1>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item    ">
                <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders_details"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/viewusers"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/addcategory"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/viewproducts"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">All Products</span>
                </a>
            </li>

            <li class="menu-item ">
                <a class="menu-link" href="/admin/addproducts"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
            </li>

            <li class="menu-item has-submenu ">
                <a class="menu-link" href="/admin/addcoupon"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Coupon Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/addcoupon">Add Coupon</a>
                    <a href="/admin/viewcoupons">View Coupons</a>
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin/addbanner"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Banner Management</span>
                </a>
                <div class="submenu">
                    <a href="/admin/addbanner">Add Banner</a>
                    <a href="/admin/viewbanner">View Banners</a>
                </div>
            </li>

            <li class="menu-item has-submenu">
                <a class="menu-link" > <i class="icon material-icons md-add_box"></i>
                    <span class="text">Offer Management</span>

                </a>
                <div class="submenu">
                    <a href="/admin/add-product-offer">Add Product Offer</a>
                    <a href="/admin/addoffer">Add Category Offer</a>
                    <a href="/admin/viewoffer">View & Deactivate Offer</a>
                </div>
            </li>

            <!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Transactions</span>
                </a>
                <div class="submenu">
                    <a href="page-transactions-1.html">Transaction 1</a>
                    <a href="page-transactions-2.html">Transaction 2</a>
                </div>
            </li> -->


        </ul>
        <hr>
        <li class="menu-item">
            <a class="menu-link" href="/admin/login"> <i class=""></i>
                <span class="text text-danger"
                    style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: medium;">LOGOUT</span>
            </a>
        </li>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <!-- <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form> -->
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>

                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg"
                            alt="User"></a>
                    <!-- <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount"> -->

                    <!-- <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a> -->
        </div>
        </li>
        </ul>
        </div>
    </header>